! special
*.foreground:   #fffff2
*.background:   #0F1210
*.cursorColor:  #f0f0f0

! black
*.color0:       #26282a
*.color8:       #6f6f6f

! red
*.color1:       #ff8878
*.color9:       #fe978b

! green
*.color2:       #94fb73
*.color10:      #d6fcba

! yellow
*.color3:       #fffcb7
*.color11:      #fffed5
! blue
*.color4:       #8bbce5
*.color12:      #c2e3ff

! magenta
*.color5:       #ffb2fe
*.color13:      #ffc6ff

! cyan
*.color6:       #a2e1f8
*.color14:      #c0e9f8

! white
*.color7:       #ffffff
*.color15:      #d0d0d0

URxvt*font: xft:Victor Mono:style=Medium:size=16,xft:VictorMono Nerd Font:style=Regular
URxvt*boldFont: xft:Victor Mono:style=Bold:size=16,xft:VictorMono Nerd Font:style=Regular
URxvt*italicFont: xft:Victor Mono:style=Bold italic:size=16,xft:VictorMono Nerd Font:style=Regular
URxvt*boldItalicFont: xft:Victor Mono:style=Bold italic:size=16,xft:VictorMono Nerd Font:style=Regular
!URxvt*font: xft:Mononoki:size=9,xft:DejaVuSansMono NF:pixelsize=15,xft:Everson Mono:pixelsize=15,xft:Symbola:size=10


URxvt.letterspace: 1
URxvt.scrollBar: false
URxvt.transparent:	false
! URxvt.shading:		35
! urxvt*blurRadius: 15

! rofi.color-window: argb: EE000000, argb: EE000000, argb: EE000000
! rofi.color-normal: argb: 00000000, #DEDEDE, argb: 00000000, #DEDEDE
URxvt.perl-ext-common:  ...,resize-font,...
URxvt.internalBorder: 10px
!URxvt.borderColor: #1e2021
URxvt.iconfile:  /usr/share/icons/Adwaita/scalable/apps/utilities-terminal-symbolic.svg
vim.internalBorder: 0
vim.transparent: false
