! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6


! URxvt.font: xft:FiraCode Nerd Font:style=regular:pixelsize=18:antialias=true:hinting=true, xft:Lohit Devanagari:style=Regular, xft:Font Awesome 5 Free Regular:style=Regular
! URxvt.font:             xft:inconsolata:pixelsize=18:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=13:antialias=true,hinting=true
! URxvt.font: xft:Fira Code:style=regular:pixelsize=18:antialias=true:hinting=true
! URxvt.letterspace: 1
URxvt.font: xft:FuraCode Nerd Font Mono:style=regular:pixelsize=18, xft:Freesans:style=regular
URxvt.scrollBar: false
URxvt.transparent:	true
URxvt.shading:		35
urxvt*blurRadius: 15

! rofi.color-window: argb: EE000000, argb: EE000000, argb: EE000000
! rofi.color-normal: argb: 00000000, #DEDEDE, argb: 00000000, #DEDEDE
URxvt.perl-ext-common:  ...,resize-font,...
URxvt*internalBorder: 25
vim*transparent: false
